<mat-list>
    <mat-list-item 
        *ngFor="let item of listaDeGastos">
        <p matLine> {{ item.origem }} </p>
        <p matLine> {{ item.valor | currency:'BRL' }} </p>
    </mat-list-item>
</mat-list>

