<mat-list>
    <mat-list-item 
      *ngFor="let item of gastosPorCategoria" >
      <p matLine> {{ item.valor | currency:'BRL' }}</p>
      <p matLine>{{ item.categoria }}</p>
    </mat-list-item>
</mat-list>