<mat-toolbar color="primary">Itaú Gastos Cartão</mat-toolbar>
<mat-tab-group class="container">
  <mat-tab label="Lista Geral">
    <app-gastos-gerais></app-gastos-gerais>
  </mat-tab>
  <mat-tab label="Por Mês">
    <app-gastos-por-mes></app-gastos-por-mes>
  </mat-tab>
  <mat-tab label="Por Categoria">
    <app-gastos-por-categoria></app-gastos-por-categoria>
  </mat-tab>
</mat-tab-group>
