<mat-list>
    <mat-list-item 
      *ngFor="let item of dataSourceConsolidada" >
      <p matLine> {{item.valorTotal | currency:'BRL' }} </p>
      <p matLine> {{item.mes}}</p>
    </mat-list-item>
</mat-list>
